*{
    margin: 0px;
    padding: 0%;
}

.body{
    background-color: aqua;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.sub-body{
    background-color: rgb(10, 10, 10);
    height: 85vh;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 15px;
    box-shadow: 10px 10px 50px black;
    width: 300px;
    
}

article > h2 {
    color: aliceblue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

button > h2 ,h1 {
    color: aliceblue;
}

.props{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    margin-top: 10px;
    justify-content: center;
}

.view{
    background-color: whitesmoke;
    width: 90%;
    border-radius: 10px;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    /* gap: 1000px; */
    /* direction: rtl; */
    padding:10px 10px 10px 10px;
}


h2,h3{
    width: 100%;
    overflow:auto;
}

.keys{
    /* background-color: bisque; */
    width: 95%;
    height: 390px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content:center ;
    flex-wrap: wrap;
    flex-direction:;
    justify-content: space-between;
    flex-grow: inherit;
    gap: 15px;
    
}

button{
    background-color: rgb(57, 54, 54);
    border: none;
    width: 80px;
    height: 50px;
    border-radius: 30px;
    
}

.clear{
    width: 20%;
    border-radius: 50px;
    background-color: rgb(123, 193, 19);
}

.b{
    background-color: rgb(37, 35, 35);
}
.r{
    background-color: rgb(19, 164, 63);
}
.d{
    background-color: red;
}

.ops{
    width: 18%;
    height: 40px;
    background-color: rgb(38, 37, 37);
}

.key-equals{
    background-color: rgb(37, 27, 27);
}

button:active{
    background-color: rgb(11, 11, 11);
}
